{% extends 'auth_base.html' %} {% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col h-100 d-flex align-items-center">
            <div class="card card-body text-bg-light">
                <h1 class="text-center">Lupa Kata Sandi</h1>
                <form method="POST" class="mb-3">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="name@email.com" required />
                    </div>
                    <button type="submit" class="btn btn-success w-100">Kirim Email Konfirmasi</button>
                </form>
                {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
                <div class="alert d-flex justify-content-between alert-dismissable fade show mb-3 alert-{{ category }}" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %} {% endif %} {% endwith %}
                <a href="{{ url_for('auth.login' ) }}" class="link-success fw-bold text-center">&larr; Kembali</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
