:root {
    --color-1: #fa7070;
    --color-2: #fefded;
    --color-3: #c6ebc5;
    --color-4: #a1c398;
    --bs-success: #145858;
}

* {
    font-family: 'Hanken Grotesk', sans-serif;
}

.bg-c-1 {
    background-color: var(--color-1);
}

.bg-c-2 {
    background-color: var(--color-2);
}

.bg-c-3 {
    background-color: var(--color-3);
}

.bg-c-4 {
    background-color: var(--color-4);
}

.text-bg-gold {
    background-image: linear-gradient(#fedb68, #fffa8a);
    background-repeat: no-repeat;
}

#map-wrapper-outer {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

#map-wrapper-inner {
    position: relative;
    height: 100%;
    width: 100%;
}

#tps-detail-map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 767.9px) {
    .mobile {
        position: fixed;
        padding-bottom: 2rem;
        bottom: 0;
    }

    .nav-link:focus,
    .nav-link:hover {
        opacity: 0.75;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show > .nav-link {
        color: inherit;
        background-color: white;
    }

    .truncate-multi-line {
        display: -webkit-box;
        -webkit-line-clamp: 1; /* Number of lines to show */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }

    #navTab {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 100;
    }

    #navTab .nav-link {
        color: white;
    }

    #navTab .nav-link:focus {
        color: #333;
    }

    #navTab .nav-link.active {
        color: #333;
    }
}
