:root {
    --color-1: #fa7070;
    --color-2: #fefded;
    --color-3: #c6ebc5;
    --color-4: #a1c398;
    --bs-success: #468585;
    --bs-success-hover: #50b498;
    --bs-success-rgb: 70, 133, 133;
}

* {
    font-family: 'Hanken Grotesk', sans-serif;
}

.bg-c-1 {
    background-color: var(--color-1);
}

.bg-c-2 {
    background-color: var(--color-2);
}

.bg-c-3 {
    background-color: var(--color-3);
}

.bg-c-4 {
    background-color: var(--color-4);
}

.text-bg-gold {
    background-image: linear-gradient(#fedb68, #fffa8a);
    background-repeat: no-repeat;
}

.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-success);
    --bs-btn-border-color: var(--bs-success);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-success-hover);
    --bs-btn-hover-border-color: var(--bs-success-hover);
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-success-hover);
    --bs-btn-active-border-color: var(--bs-success-hover);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bs-success);
    --bs-btn-disabled-border-color: var(--bs-success);
}

.btn-outline-success {
    --bs-btn-color: var(--bs-success);
    --bs-btn-border-color: var(--bs-success);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-success);
    --bs-btn-hover-border-color: var(--bs-success);
    --bs-btn-focus-shadow-rgb: rgb(var(--bs-success-rgb));
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-success);
    --bs-btn-active-border-color: var(--bs-success);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bs-success);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--bs-success);
    --bs-gradient: none;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: white;
    background-color: var(--bs-success);
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-success);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-link:focus,
.nav-link:hover {
    color: var(--bs-success-hover);
}

.text-bg-success {
    color: #fff !important;
    background-color: RGBA(var(--bs-success-rgb), var(--bs-bg-opacity, 1)) !important;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: var(--bs-success);
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-success);
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%468585'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion {
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%ffffff' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
    --bs-accordion-active-color: white;
}

#map-wrapper-outer {
    width: 100%;
    height: 320px;
    overflow: hidden;
}

#map-wrapper-inner {
    position: relative;
    height: 100%;
    width: 100%;
}

#tps-detail-map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 767.9px) {
    .mobile {
        position: fixed;
        padding-bottom: 2rem;
        bottom: 0;
    }

    .nav-link:focus,
    .nav-link:hover {
        opacity: 0.75;
    }

    .truncate-multi-line {
        display: -webkit-box;
        -webkit-line-clamp: 1; /* Number of lines to show */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }

    #navTab {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 100;
    }

    #navTab .nav-link {
        color: white;
    }

    #navTab .nav-link:focus {
        color: #333;
    }

    #navTab .nav-link.active {
        color: #333;
    }
}
