{% extends 'officer_page/base.html' %} {% block container %}
<div class="container pt-3">
    <div class="row">
        <div class="col">
            <p class="fw-bold h3 text-center">Riwayat Setoran Sampah</p>
            <hr />
            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
            <div class="alert d-flex justify-content-between alert-dismissable fade show mb-3 alert-{{ category }}" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %} {% endif %} {% endwith %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">#</th>
                            <th scope="col">TPS Tujuan</th>
                            <th scope="col">Volume (kg)</th>
                            <th scope="col">Lokasi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if data_laporan %} {% for item in data_laporan %}
                        <tr class="align-middle">
                            <th scope="row" class="text-center">{{ loop.index }}</th>
                            <td>{% if item.tps %} {{ item.tps.nama }} {% else %} Belum Ada {% endif %}</td>
                            <td class="text-center">{{ item.berat }}</td>
                            <td class="">
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="#" class="btn btn-light fs-3" onclick="showTPSDetails('{{ item.latitude }}', '{{ item.longitude }}', '{{ item.id }}')">
                                        <i class="fa fa-chevron-circle-right"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %} {% else %}
                        <tr class="align-middle">
                            <td scope="row" colspan="7" class="text-center text-secondary">
                                <em>-- Belum ada laporan yang sukses --</em>
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal untuk menampilkan peta -->
<div class="modal fade" id="tpsDetailModal" tabindex="-1" aria-labelledby="tpsDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tpsDetailModalLabel">Info Lokasi <span class="badge text-bg-success">Selesai</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="map-wrapper-outer" class="d-flex justify-content-center align-items-center">
                    <div id="map-wrapper-inner">
                        <div id="tps-detail-map"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Tutup</button>
                <!-- <a id="deleteReportLink" href="#" class="btn btn-danger"><i class="fa fa-trash"></i> Hapus</a> -->
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %}
<script>
    let map;
    let marker;

    mapboxgl.accessToken = 'pk.eyJ1IjoiaGFpZGFyMDM4IiwiYSI6ImNseHZpemlybTJjNHgyanNoczVmMDVwOWkifQ.bWWz1a7SJ0EYnMm4W3sQ9Q';
    map = new mapboxgl.Map({
        container: 'tps-detail-map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [107.6096, -6.9175],
        zoom: 10,
    });

    function showTPSDetails(latitude, longitude) {
        $('#tpsDetailModalLabel').text('Lokasi Sampah');

        // Hapus marker sebelumnya jika ada
        if (marker) {
            marker.remove();
        }

        // Buat popup
        const popup = new mapboxgl.Popup({ offset: 30 }).setLngLat([longitude, latitude]).setHTML('<h5>Lokasi Sampah Anda</h5>').addTo(map);

        // Tambahkan marker dengan popup
        marker = new mapboxgl.Marker().setLngLat([longitude, latitude]).setPopup(popup).addTo(map);

        map.flyTo({
            center: [longitude, latitude],
            zoom: 15,
        });

        $('#tpsDetailModal').modal('show');
    }

    $('#tpsDetailModal').on('shown.bs.modal', function () {
        map.resize();
    });
</script>
{% endblock %}
