<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <title>KURS</title>

        <link rel="manifest" href="{{ url_for('static', filename='manifest.json' ) }}" />

        <!-- BOOTSTRAP -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

        <!-- TABLER ICONS -->
        <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.js"></script>

        <!-- STYLING CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css' ) }}" />
        <link href="https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
        {% block head %} {% endblock %}

        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />

        <!-- LIBRARIES -->
        <script src="https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
        <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css" type="text/css" />
    </head>
    <body>
        <head>
            <nav class="navbar navbar-expand-lg navbar-dark bg-success">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="dropdown">
                        <button class="btn d-block d-lg-none d-flex align-items-center p-1 rounded-circle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <ion-icon name="notifications" class="fs-1"></ion-icon>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                        </ul>
                    </div>
                    <a class="navbar-brand fw-bold d-none d-lg-block" href="#"><img id="brandLogo" src="{{ url_for('static', filename='img/KURS_WHITE.svg' ) }}" alt="Logo" height="30" /></a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link {% if page == 'home' %} active {% endif %}" aria-current="page" href="{{ url_for('views.index' ) }}">Beranda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('views.wiki' ) }}">Wiki</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('views.reports' ) }}">Laporan</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Riwayat</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-3">
                            <li class="nav-item">
                                <a href="#" class="nav-link">Login</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" role="button" id="getStarted" class="btn btn-light rounded-pill">Get Started</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </head>

        <main style="padding-bottom: 65px" class="{% if page == 'add_tps' %} pb-2 {% endif %}">
            <ul class="nav nav-tabs w-100 bottom-0 bg-success navbar-dark d-flex d-lg-none {% if page == 'add_tps' %} d-none {% endif %}" id="navTab" role="tablist">
                <li class="nav-item flex-fill" role="presentation">
                    <a
                        href="{{ url_for('views.index' ) }}"
                        class="nav-link rounded-0 d-flex flex-column justify-content-center align-items-center {% if page == 'home' %} active {% endif %}"
                        id="home-tab"
                        type="button"
                        role="tab"
                        aria-selected="false"
                    >
                        <ion-icon name="home"></ion-icon>
                        <small>Home</small>
                    </a>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                    <a
                        href="{{ url_for('views.wiki' ) }}"
                        class="nav-link rounded-0 d-flex justify-content-center flex-column justify-content-center align-items-center {% if page == 'wiki' %} active {% endif %}"
                        id="wiki-tab"
                        type="button"
                        role="tab"
                        aria-selected="false"
                    >
                        <ion-icon name="book"></ion-icon>
                        <small>Wiki</small>
                    </a>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                    <a
                        href="{{ url_for('views.reports' ) }}"
                        class="nav-link rounded-0 d-flex justify-content-center flex-column justify-content-center align-items-center {% if page == 'reports' %} active {% endif %}"
                        id="report-tab"
                        type="button"
                        role="tab"
                        aria-selected="false"
                    >
                        <ion-icon name="location"></ion-icon>
                        <small>Report</small>
                    </a>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                    <a
                        href="{{ url_for('views.history' ) }}"
                        class="nav-link rounded-0 d-flex justify-content-center flex-column justify-content-center align-items-center {% if page == 'history' %} active {% endif %}"
                        id="history-tab"
                        type="button"
                        role="tab"
                        aria-selected="false"
                    >
                        <ion-icon name="time"></ion-icon>
                        <small>List</small>
                    </a>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                    <a
                        href="{{ url_for('views.profil', id=current_user.id ) }}"
                        class="nav-link rounded-0 d-flex justify-content-center flex-column justify-content-center align-items-center {% if page == 'profile' %} active {% endif %}"
                        id="profile-tab"
                        type="button"
                        role="tab"
                        aria-selected="false"
                    >
                        <ion-icon name="person"></ion-icon>
                        <small>Profile</small>
                    </a>
                </li>
            </ul>
            {% block container %} {% endblock %}
        </main>

        <script defer src="{{ url_for('static', filename='main.js' ) }}"></script>

        <!-- SERVICE WORKER FOR PWA -->
        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', function () {
                    navigator.serviceWorker.register("{{ url_for('static', filename='sw.js' ) }}").then(
                        function (registration) {
                            console.log('ServiceWorker registration successful with scope: ', registration.scope);
                        },
                        function (err) {
                            console.log('ServiceWorker registration failed: ', err);
                        }
                    );
                });
            }
        </script>

        <!-- TEXT TRUNCATE -->
        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                document.querySelectorAll('.truncate-multi-line').forEach((element) => {
                    // Create a temporary element to hold the HTML content and extract plain text
                    let tempDiv = document.createElement('div');
                    tempDiv.innerHTML = element.innerHTML;
                    let textContent = tempDiv.textContent || tempDiv.innerText || '';

                    // Set the plain text content back to the element
                    element.textContent = textContent;
                });
            });
        </script>

        {% block scripts %} {% endblock %}

        <!-- MAPS API SCRIPT -->
        {% if page == 'home' %}
        <script>
            let nama_tps = JSON.parse('{{ nama_tps | safe }}');
            let alamat_tps = JSON.parse('{{ alamat_tps | safe }}');
            let lat_tps = JSON.parse('{{ lat_tps | safe }}');
            let long_tps = JSON.parse('{{ long_tps | safe }}');
            var detailMap;

            let data_tps = nama_tps.map((nama, index) => ({
                nama: nama,
                latitude: parseFloat(lat_tps[index]),
                longitude: parseFloat(long_tps[index]),
            }));

            console.log(nama_tps);
            console.log(lat_tps);
            console.log(long_tps);

            mapboxgl.accessToken = 'pk.eyJ1IjoiaGFpZGFyMDM4IiwiYSI6ImNseHZpemlybTJjNHgyanNoczVmMDVwOWkifQ.bWWz1a7SJ0EYnMm4W3sQ9Q';
            const map = new mapboxgl.Map({
                container: 'tps-detail-map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: [long_tps[0], lat_tps[0]],
                zoom: 10,
                interactive: true,
            });

            let marker, startPopup, endPopup;

            const directions = new MapboxDirections({
                accessToken: mapboxgl.accessToken,
                unit: 'metric',
                profile: 'mapbox/driving-traffic',
                controls: false,
                interactive: false, // Tambahkan ini untuk menonaktifkan interaksi klik pada peta untuk mengubah rute
            });

            //directions.interactive(false);
            map.addControl(directions, 'top-left');
            map.addControl(new mapboxgl.NavigationControl());

            map.on('load', () => {
                startPopup = new mapboxgl.Popup({ closeOnClick: false, offset: 25 }).setHTML('Lokasi Anda');
                endPopup = new mapboxgl.Popup({ closeOnClick: false, offset: 25 });
            });

            // Fungsi untuk menampilkan detail TPS dan peta, serta menghitung jarak
            function showTPSDetails(index) {
                const tps = data_tps[index];
                $('#tpsDetailModalLabel').text('Lokasi TPS: ' + tps.nama);
                map.flyTo({
                    center: [tps.longitude, tps.latitude],
                    zoom: 15,
                });

                // Hapus marker lama jika ada
                if (marker) {
                    marker.remove();
                }

                // Tambahkan marker baru
                marker = new mapboxgl.Marker()
                    .setLngLat([tps.longitude, tps.latitude])
                    .setPopup(new mapboxgl.Popup().setHTML('<b>' + tps.nama + '</b>'))
                    .addTo(map);

                // Panggil fungsi dengan index
                showRouteToTPS(tps, index);

                $('#tpsDetailModal').modal('show');
            }

            // Tambahkan index ke definisi fungsi showRouteToTPS
            function showRouteToTPS(tps, index) {
                directions.removeRoutes();
                getUserLocation((userLat, userLon) => {
                    directions.setOrigin([userLon, userLat]);
                    directions.setDestination([tps.longitude, tps.latitude]);

                    directions.on('route', (e) => {
                        if (e.route && e.route[0]) {
                            const route = e.route[0];
                            const distance = route.distance / 1000; // konversi ke kilometer
                            const duration = Math.round(route.duration / 60); // konversi ke menit

                            // Tampilkan di card yang tepat
                            $('#jarak-' + (index + 1)).text(distance.toFixed(2) + ' km');
                            $('#waktu-' + (index + 1)).text(duration + ' menit');

                            // Update popup
                            startPopup.setLngLat([userLon, userLat]).setHTML('Lokasi Anda').addTo(map);
                            endPopup
                                .setLngLat([tps.longitude, tps.latitude])
                                .setHTML('<b>' + tps.nama + '</b>')
                                .addTo(map);
                        }
                    });
                });
            }

            $('#tpsDetailModal').on('shown.bs.modal', function () {
                // Memaksa Mapbox untuk menggambar ulang peta dan menyesuaikan ukuran canvas
                map.resize();
            });

            document.addEventListener('DOMContentLoaded', (event) => {
                data_tps.forEach((tps, index) => {
                    showRouteToTPS(tps, index);
                });
            });

            function getUserLocation(callback) {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        const userLat = position.coords.latitude;
                        const userLon = position.coords.longitude;
                        console.log('Latitude: ' + userLat + ', Longitude: ' + userLon);

                        if (callback) {
                            callback(userLat, userLon);
                        }
                    }, showError);
                } else {
                    console.error('Geolocation is not supported by this browser.');
                }
            }

            function showError(error) {
                console.error('Error getting user location:', error);
            }

            // Fungsi untuk menghitung jarak antara dua titik koordinat (dalam kilometer)
            function calculateDistance(lat1, lon1, lat2, lon2) {
                var R = 6371; // Radius bumi dalam kilometer
                var dLat = deg2rad(lat2 - lat1);
                var dLon = deg2rad(lon2 - lon1);
                var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) + Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * Math.sin(dLon / 2) * Math.sin(dLon / 2);
                var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
                var d = R * c; // Jarak dalam kilometer
                return d;
            }

            function deg2rad(deg) {
                return deg * (Math.PI / 180);
            }

            function hitungWaktuTempuh(jarak) {
                var waktuJam = jarak / 40;
                var waktuMenit = Math.round(waktuJam * 60);
                return waktuMenit + ' menit';
            }
        </script>
        {% endif %}
    </body>
</html>
