{% extends 'base.html' %} {% block container %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="fw-bold text-center mb-3">Tulis Artikel</h1>
            <form action="" method="post" class="mb-3">
                <div class="d-flex flex-column gap-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="judul" name="judul" placeholder="Judul Artikel" required />
                        <label for="judul">Judul Artikel</label>
                    </div>
                    {{ ckeditor.create() }}
                    <button type="submit" class="btn btn-success">Post Artikel</button>
                </div>
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
            {% endfor %} {% endif %} {% endwith %}
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Judul</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for posts in post %}
                    <tr class="align-middle">
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ posts.judul }}</td>
                        <td class="align-middle">
                            <a href="{{ url_for('views.delete_post', id=posts.id ) }}" role="button" class="btn btn-danger align-items-center justify-content-center d-flex flex-column"><ion-icon name="trash"></ion-icon></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %} {{ ckeditor.load() }}
<script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
{% endblock %}
